.env
.venv/
venv/
.codefuse/
logs/
.vscode/
.local/
.idea/
__pycache__/
*.pyc
.DS_Store
.qoder/
.codeforge/
.temp-db/
*.db
*.db-journal
*.db-wal
*.db-shm
node_modules/
dist/
.vite/
.logs/
spec/
